<mat-label id="mouseover">mouseover</mat-label>
<ace-editor id="mouseover" [(ngModel)]="pathConfig.mouseover"
        #editor style="height:150px;">
</ace-editor>
<mat-label id="mousemove">mousemove</mat-label>
<ace-editor id="mousemove" [(ngModel)]="pathConfig.mousemove"
        #editor style="height:150px;">
</ace-editor>
<mat-label id="mouseleave">mouseleave</mat-label>
<ace-editor id="mouseleave" [(ngModel)]="pathConfig.mouseleave"
        #editor style="height:150px;">
</ace-editor>
<label>fill</label>
<input type="text" [(ngModel)]="pathConfig.fill">